<h2>Create your celebrity</h2>
<form method="post" action="/celebrities/new">
  <label for="name">Name</label>
  <input name="name">
  <label for="occupation">Occupation</label>
  <input name="occupation">
  <label for="catchPhrase">Catch Phrase</label>
  <input name="catchPhrase">
  <button>Create</button>
</form>